*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    background-color: tomato;
    font-size: 20px;
    font-weight: 10px;
}
.header{
    background-image:linear-gradient(0deg, rgba(5, 5, 5, 0.572), rgba(0, 0, 0, 0.109)), url('../images/banner/banner1.png');
    background-size: cover;
   
    
}

/*banner styles */
.banner-area{
    display: flex;
    justify-content: end;
    text-align: right;
}
.banner{
    padding: 20vh 0;
    width: 25%;
    margin-right: 50px;
   
}
.banner-title{
    font-size: 50px;
    font-weight: 5px;
    margin-top: 20px;
    padding: 20px 0;

}
.banner-sub-title{
    font-size: 20px;
    font-weight: 10px;
    padding: 40px  0;
}
/*deta stylrs*/
.deta-container{
    display: flex;
    margin-top: 20%;
    padding: 100px;
    padding-left: 10%;
    
}
.deta-title{
    margin-top: 15%;
    font-size: 60px;
    font-weight: 20px;
    text-align: center;
    padding: 20px;
    padding-right: 10%;
   
}
.deta-sub-title{
    font-size: 25px;
    font-weight: 10px;
    text-align: center;
    padding: 20px;
    padding-right: 10%;
   
}
.deta-top{
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    padding: 20px;
    padding-right: 50%;
}
.deta-seb{
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    padding: 20px;
    padding-right: 50%;
}
.deta-taf{
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    padding: 20px;
    padding-right: 50%;
}
.deta-tit{
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    padding: 20px;
    padding-right: 50%;
}

/*section styles*/
.section-title{
    margin-top: 10%;
    font-size: 70px;
    font-weight: 20px;
    text-align: center;
}